@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-800%);
    }
  }
  
  .animate-slide {
    animation: slide 10s linear infinite;
  }  

@keyframes slideDown {
  0%
  {
    transform: translateY(-10px);
    opacity: 0;
  }
  100%
  {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slideDown {
  animation: slideDown 300ms ease-out
}
@keyframes rot{
  0%
  {
    rotate: 0deg;
  }
  100%
  {
    rotate: 180deg;
  }
}
@keyframes rotBack{
  0%
  {
    rotate: 180deg;
  }
  100%
  {
    rotate: 0deg;
  }
}
.animate-rot{
  animation: rotBack 200ms ease-in-out;
}
.blue:hover{
  filter: brightness(0) saturate(100%) invert(77%) sepia(45%) saturate(6575%) hue-rotate(185deg) brightness(100%) contrast(102%);
}
@keyframes grow{
  0%{
    width: 60px;
  }
  100%{
    width: 200px;
  }
}
@keyframes shrink {
  0%{
    width: 200px;
  }
  100%{
    width: 60px;
  }
}
.animate-grow{
  animation: grow 500ms ease-in-out;
  transition: all;
}
.animate-shrink{
  animation: shrink 500ms ease-in-out;
  transition: all;
}
@import 'tailwindcss';